apiVersion: batch/v1
kind: Job
metadata:
  name: run-memtier-benchmark
spec:
  template:
    spec:
      restartPolicy: OnFailure
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
      containers:
      - name: run-memtier-benchmark
        image: quay.io/kinvolk/benchmark-memtier
        imagePullPolicy: Always
        command:
        - /usr/local/bin/run-benchmark.sh
        args:
        - --type
        - "{{ .Values.type }}"
        - --threads
        - "{{ .Values.threads }}"
        - --iterations
        - "{{ .Values.iterations }}"
        - --push-gateway
        - "{{ .Values.pushgatewayURL }}"
        - --cloud
        - "{{ .Values.cloud }}"
        - --instance
        - "{{ .Values.instance }}"
        - --job-name
        - "{{ .Values.jobname }}"
      automountServiceAccountToken: false
      {{- if .Values.nodeSelector }}
      nodeSelector:
        {{- range $key, $value := .Values.nodeSelector }}
        {{ $key }}: {{ $value }}
        {{- end }}
      {{ end -}}
      {{- if .Values.tolerations }}
      tolerations:
        {{- with .Values.tolerations }}
{{ toYaml . | indent 6 }}
        {{- end }}
      {{ end }}
